.header{
    background-color: #f0db4f;
    text-align: center;
}
.goobert1{
    background-color: #e2d688;
    text-align: center;
}
.goobert2{
    background-color: #e2d688;
    text-align: center;
}